version: "3.8"

services:
  frontend:
    build: .
    container_name: metamarc-frontend
    restart: unless-stopped
    ports:
      - "3001:3001"
    environment:
      - NEXT_PUBLIC_API_URL=https://api.metamarc.online
      - API_BASE_URL=https://api.metamarc.online
    networks:
      - web

networks:
  web:
    external: true